<launch>
        <!-- Load robot_description to parameter server -->
        <param name="/robot_description"
        command="$(find xacro)/xacro --inorder '$(find cartesian_controller_examples)/urdf/robot.urdf.xacro'" />





        <!-- Simulator -->


        <!-- Load hardware configuration -->
        <rosparam   file="$(find cartesian_controller_examples)/config/example_hw_config.yaml" 
                    command="load"></rosparam>

        <!-- Load hardware interface -->
        <node   name="sim_hardware_interface"     
                pkg="ros_control_boilerplate" 
                type="sim_hw_main"
                output="screen" />





        <!-- Controller -->

        <!-- Load controller configuration -->
        <rosparam   file="$(find cartesian_controller_examples)/config/example_controllers.yaml" 
                    command="load"/>

        <!-- Joint state publisher -->
        <node   name="joint_state_controller_spawner" 
                pkg="controller_manager" 
                type="spawner" 
                respawn="false" 
                output="screen"
                args="joint_state_controller"/>

        <!-- Load the controller -->
        <node   name="controller_spawner" 
                pkg="controller_manager" 
                type="spawner"
                respawn="false"
                output="screen"
                args="my_cartesian_motion_controller my_motion_control_handle"/>

        <!-- Robot state publisher -->
        <node   pkg="robot_state_publisher" 
                type="robot_state_publisher" 
                name="robot_state_publisher"
                respawn="false"
                output="screen">
            <param name="publish_frequency" type="double" value="50.0" />
            <param name="tf_prefix" type="string" value="" />
        </node>






        <!-- Visualization -->
        <arg name="my_rviz" value="-d $(find cartesian_controller_examples)/etc/examples.rviz" />
        <node name="rviz" pkg="rviz" type="rviz" respawn="false" args="$(arg my_rviz)" output="screen" >
        </node>
</launch>
